beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
cssutils==2.11.1
frozendict==2.4.6
idna==3.10
loguru==0.7.3
lxml==5.4.0
more-itertools==10.7.0
numpy==2.2.6
pandas==2.2.3
pyrate-limiter==3.7.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
sec-downloader==0.11.2
sec-edgar-downloader==5.0.3
sec-parser==0.58.1
six==1.17.0
soupsieve==2.7
tabulate==0.9.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
xxhash==3.5.0
